<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <%- include('../components/navbar') %>

        <div class="container">
            <h1 class="title">Edit Brand</h1>
            <form action="/brand/<%= brand._id %>?_method=PUT" method="POST">
                <div class="field">
                    <label class="label">Brand Name</label>
                    <div class="control">
                        <input class="input" type="text" name="brandName" value="<%= brand.brandName %>" required>
                    </div>
                </div>
                <div class="field">
                    <div class="buttons" style="display: flex; justify-content: flex-end">
                        <button class="button is-primary" type="submit">Save</button>
                        <a href="/brand" class="button is-danger">Cancel</a>
                    </div>
                </div>
            </form>

            <% if (typeof error !=='undefined' ) { %>
                <div class="notification is-danger" style="margin-top: 1rem;">
                    <%= error %>
                </div>
                <% } %>
        </div>
</body>

</html>